/*--------- COMMON ----------*/

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.woff');
    font-weight: 100;
    font-style: normal;
  }

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.woff');
    font-weight: 700;
    font-style: normal;
  }

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Semibold.woff');
    font-weight: 500;
    font-style: normal;
  }  

* {
    font-family: 'Gilroy', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.page {
    width: 100%;
}

.header {
    background-color: #004DA9;
}

.header-logo {
    margin-right: 5.25rem;
    margin-left: 2.5rem;
}

.logo-menu-container {
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
}

.menu-list {
    width: 40.625rem;
    padding-left: 0;
    justify-content: space-between;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.menu-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 400;
}

.enter-link {
    height: 1.875rem;
    width: 7.5rem;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: 1.875rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    border-radius: 5px;
    margin-right: 1.25rem;
    margin-left: 21.875rem;
}


.intro-container {
    padding-right: 24.375rem;
    padding-left: 24.375rem;
    background-image: url('../img/intro.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    position: relative;
}

.intro-container::after {
    content: "";
    background-color: #004DA9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
}

.button-demo {
    width: 23.75rem;
    height: 3.75rem;
    background-color: #004DA9;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.125rem;
    font-weight: 800;
    text-decoration: none;
    display: block;
}

.demo-icon {
    margin-right: 0.625rem;
    vertical-align: middle;
}

.btn-demo-txt {
    font-size: 1.125rem;
    line-height: 3.75rem;
    color: #FFFFFF;
    font-weight: 800;
}

.preheadline, .headline, .intro, .text, .intro-text-list {
    z-index: 1;
    color: white;
}

.preheadline {
    font-size: 1rem;
    margin-top: 8.125rem;
}

.headline {
    font-size: 2.25rem;
    margin-top: 1.125rem;
    margin-bottom: 2.8125rem;
}

.intro, .text {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 100;
}

.intro-text-list {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 2.5rem;
    font-weight: 100;
}

.button-demo, .intro-comment {
    z-index: 1;
}

.button-demo {
    margin-top: 4.6875rem;
    padding: 0 1.25rem;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 3.75rem;
}

.intro-comment {
    margin-top: 1.6875rem;
    margin-bottom: 3.5635rem;
    font-weight: 100;
    color: black;
}

.container {
    margin-top: 7.8125rem;
    margin-left: auto;
    margin-right: auto;
}

.headline-main {
    font-weight: 800;
    font-size: 2.25rem;
    color: black;
    text-align: left;
    margin-bottom: 3.125rem;
    margin-left: 3.625rem;
}


.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.example-box {
    width: 28.125rem;
    height: 23.75rem;
    background-color: #303030;
    margin-right: 5rem;
    padding: 2.25rem 1.875rem 2.625rem;
}

.title, .title-example {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1rem;
}

.auto-block {
    width: 100%;
    padding-left: 5.625rem;
     padding-right: 3.75rem;
}

.video {
    height: 23.75rem;
    width: 47.5rem;
}

.c-module {
    margin-left: 0;
    margin-right: 0;
}

.c-module::after {
    width: 91%;
    content: '';
    display: block;
    background-color: #004DA9;
    height: 0.1875rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

.module-block {
    background-color: #EBEBEB;
    background-size: cover;
    width: 100%;
    padding: 2.25rem 5.625rem 2.875rem 5.625rem;
}

.module-flex {
    padding: 2.25rem 5.625rem 2.875rem;
}

.module-step {
    width: 26.4%;
}

.module-step:nth-child(3n + 2) {
    margin-right: 4.1%;
    margin-left: 4.1%;
}

.h-steps {
    font-size: 1.5rem;
    font-weight: 800;
}

.img-steps {
    margin-top: 1.25rem;
    margin-bottom: 0.75rem;
}

.description-text {
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 100;
}

.form-cont {
    margin-top: 0;
}

.form-block {
    display: flex;
    margin-top: 5rem;
    position: relative;
}

.form {
    width: 32.5rem;
    height: 37.5rem;
    border: 0.1875rem solid #004DA9;
    border-radius: 5px;
    padding: 3.125rem 3.75rem;
    margin-left: 8.75rem;
    z-index: 2;
    background-color: white;
}

.form-title {
    font-size: 1.125rem;
    margin-bottom: 1.5625rem;
}

.form-txt {
    line-height: 1rem;
    margin-bottom: 0.625rem;
}

.field-label {
    font-size: 0.75rem;
    line-height: 0.875rem;
    color: #828282;
}

.field {
    width: 25rem;
    height: 2.5rem;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 2px;
    font-size: 0.9375rem;
    line-height: 2.5rem;
    color: #000000;
    padding-left: 0.5rem;
}

.send-btn {
    height: 3.75rem;
    background: #004DA9;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 800;
    line-height: 3.75rem;
    text-transform: uppercase;
    color: white;
    border: none;
    margin-top: 2.5rem;
    margin-bottom: 1.875rem;
    margin-left: 7.25rem;
    padding: 0 2.1875rem;
}

.personal-data {
    font-size: 0.75rem;
    line-height: 0.875rem;
    color: #828282;
}

.grey-block {
    display: block;
    width: 100%;
    height: 20rem;
    background: #C4C4C4;
    position: absolute;
    top: 8.75rem;
}

.form-block::after {
    content: ""; 
    background-image: url('../img/person.png');
    width: 390.5rem; 
    height: 30.0625rem; 
    background-repeat: no-repeat; 
    margin-left: 49.37rem; 
    margin-top: 1.1875rem; 
    position: absolute;
    z-index: 2;
}

.footer {
    background: #303030;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #fff;
}

.footer-social-links {
    list-style-type: none;
    display: flex;
    padding:  0;
    justify-content: flex-start;
}

.footer-social-link {
    display: inline-block;
    margin-right: 1.25rem;
    background-color: rgb(130, 130, 130, .6);
    opacity: 0.6;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 100%;
	position: relative;
}

.social-svg {
    position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.socials-link-text {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.footer-flex {
    padding: 2.5rem 3.75rem;
}

.footer-col-1 {
    width: 15rem;
    margin-right: 8.4375rem;
}

.footer-logo {
    margin-bottom: 3.875rem;
    opacity: 0.6;
}

.foo-socials-title {
    letter-spacing: 0.625rem;
    color: #828282;
    text-transform: uppercase;
    font-size: 0.625rem
    line-height: 0.625rem
}

.footer-copy {
    margin-top: 1.25rem;
}

.footer-copy-title, .footer-copy-privacy {
    font-size: 1rem;
    font-weight: 100;
    color: #fff;
    margin: 0;
    text-transform: initial;
    line-height: 1.875rem;
}

.footer-col-2-title {
    letter-spacing: 1px;
    color: #828282;
    text-transform: uppercase;
    font-size: 0.625rem
    line-height: 0.625rem
    font-weight: 800;
}

.footer-col-2-list {
    width: 288px;
    padding: 0;
    list-style: none;
}

.footer-col-2-item {
    margin: 0;
    text-transform: initial;
    line-height: 1.875rem;
    text-decoration: underline;
    padding-bottom: 0.625rem
    word-break: break-all;
}

.footer-col-2-item-link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 100;
    color: #fff;
}

.footer-col-3 {
    margin-top: 1.5rem
}

.footer-col-4 {
    margin-top: 0.9375rem;
}

.footer-contacts {
    list-style: none;
}

.footer-contacts-title {
    letter-spacing: 1px;
    color: #828282;
    text-transform: uppercase;
    font-size: 0.625rem
    line-height: 0.625rem
    font-weight: 800;    
    margin-bottom: 0.625rem
}

.footer-contacts-tel {
    margin-bottom: 0.625rem
}

.footer-tel-link {
    font-size: 1.5625rem;
    color: white;
    font-weight: 100;
    text-decoration: none;
}

.footer-email-link {
    text-decoration: none;
    color: #006ed1;
    font-size: 1rem;
    line-height: 1.5rem;
}

.footer-contacts-email {
    margin-bottom: 0.625rem
}

.footer-contacts-address {
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 0.625rem
}